h1 {
    font-size: 36px;
    padding-bottom: 10px;
}

.scroll {
    height: 175px;
}

.header-top {
    padding: 0 3em;
}

.header-container {
}

.content-panel {
    width: 100%;
    float: none;
}

.sidebar {
    width: 100%;
    float: none;
}

a.button  {
    margin: 8px;
}

.button-panel {
    display: none;
}

.mobile-only {
    display: block;
}

.hide {
    display: none;
}

h3 {
    font-size: 15px;
}
