@import url('https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica');
@import url('BlackPearl/stylesheet.css');

* {
    /* So 100% means 100% */
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'IM Fell Double Pica', serif;
    width: 100%;
    padding: 0 5%;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
    position: relative;

}

.content {
    flex: 1 0 auto;
}

.content:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background: linear-gradient(rgba(0, 0, 0, 0.275), rgba(255, 255, 255, 0)), url('images/large-background@2x.png');
    background-size: cover;
    width: 100%;
    height: 110%;
    top: -5%;

}

header {
    text-align: center;
    display: block;
    width: 100%;
    justify-content: center;
    margin: 1em auto;
    /* padding-top: 15%; */
    padding-top: 5%;
    /* padding-bottom: calc(100vh - 600px); */
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 0;
}

.sticky + .content {
    padding-top: 102px;
}

.header-container {
    width: fit-content;
    background: url("images/bar.png");
    background-size: cover;
    position: relative;
    z-index: 3;
    display: inline-block;
    box-shadow: 0 0 10px #111;
    padding: 0 auto;
}

.header-top {
    display: inline-block;
    min-height: 3em;
    padding: 0 6em;
}

.header-under {
    color: #eeeeee;
    margin-top: 80px;
    font-size: 30pt;
}

.scroll {
    position: absolute;
    height: 150px;
    top: -4px;
}

.left-scroll {
    left: -6px;
}

.right-scroll {
    right: -6px;
}

h1 {
    font-size: 48px;
    position: relative;
    top: 4%;
    font-family: "BlackPearl", "IM Fell Double Pica", serif;
}

h2 {
    margin: 0 0 1em 0;
}

h3 {
    margin-top: 0;
    margin-bottom: 30px;
}

.panel {
    display: block;
    margin: 2em auto 0;
    padding: 2em;
    background-color: #ECE3B5;
    border: 5px solid #ECE3B5;
    box-shadow: 0 0 0 2.5px #F6F1DA inset, 0 0 0 5.5px #AD9C86 inset, 0 0 10px #111;
    z-index: -1;
    width: 100%;
    height: fit-content;
}

.sidebar {
    width: 28%;
    float: right;
}

.content-panel {
    width: 70%;
    float: left;
}

.shadowed {
    filter: drop-shadow(0px 0px 8px rgba(17, 17, 17, 127));
}

.footer {
    flex-shrink: 0;
    width: 100%;
    display: block;
    margin: 2em auto 0;
    padding-left: 2em;
    padding-right: 2em;
    background-color: #ECE3B5;
    border: 5px solid #ECE3B5;
    box-shadow: 0 0 0 2.5px #F6F1DA inset, 0 0 0 5.5px #AD9C86 inset, 0 0 10px #111;
    bottom: -10px;
}

.footer-container {
    margin: 1em 0;
}

iframe {
    display: block;
    width: 100%;
}

a.button {
    display: inline-block;
    margin: 32px 16px 0;
    padding: 12px 32px;
    background-color: #CEC4A1;
    border: 3px solid #CEC4A1;
    box-shadow: 0 0 0 1.5px #A99885 inset, 0 0 0 3.5px #F4EEDF inset, 0 0 10px #111;
    z-index: -1;
    color: black;
    text-decoration: none;
    cursor: default;
    min-width: 1in;
    font-family: "BlackPearl", "IM Fell Double Pica", serif;
}

a.button:hover {
    border-color: #DED4B1;
    box-shadow: 0 0 0 1.5px #A99885 inset, 0 0 0 3.5px #F4EEDF inset, 0 0 15px #111;
}

.buttons-bar {
    text-align: center;
}

.image-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.img-row {
    width: 100%;
}

.image-fullwidth {
    display: block;
    flex: 100%;
    max-width: 100%;
    width: 100%;
}

.image-halfwidth {
    display: block;
    flex: 50%;
    max-width: 50%;
    width: 100%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.padded-bottom {
    padding: 0 0 1em 0;
}

.social-icon {
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

a.social-button {
    display: inline-block;
    margin: 16px 8px 0 8px;
    padding: 12px 12px;
    min-width: 0;
}

.nounderline {
    text-decoration: none;
}

.button-panel {
    text-align: center;
    width: 100%;
    margin: 1em 0 0;
}

.mobile-only {
    display: none;
}

.panel-social {
    display: flex;
    justify-content: space-between;
}

.hide {
    display: none;
}

.outlined {
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}
