@import url('https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica');

* {
    /* So 100% means 100% */
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
	font-family: 'IM Fell Double Pica', serif;
    width: 100%;
    padding: 0 5%;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
    position: relative;

}

.content {
    flex: 1 0 auto;
}

.content:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background:
            linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), url('ministate-background.png');
    background-size: cover;
    width: 100%;
    height: 110%;
    top: -5%;

}

header {
    text-align: center;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    margin: auto;
}

.header-container {
    display: block;
    min-height: 3em;
    background: url("bar.png");
    background-size: cover;
    position: relative;
}

.header-top {
    display: inline-block;
	min-height: 3em;
    background: url("bar.png");
    background-size: contain;
    background-repeat: repeat-x;
    padding: 0 6em;
    box-shadow: 0 0 10px #111;
}

.scroll {
    position: absolute;
    height: 150px;
    top: -4px;
}

.left-scroll {
    left: -6px;
}

.right-scroll {
    right: -6px;
}

h1 {
    font-size: 48px;
    position: relative;
    top: 4%;
}

.panel {
    display: block;
    margin: 2em auto 0;
    padding: 2em;
    background-color: #ECE3B5;
    border: 5px solid #ECE3B5;
    box-shadow: 0 0 0 2.5px #F6F1DA inset, 0 0 0 5.5px #AD9C86 inset, 0 0 10px #111;
}

.sidebar {
    width: 27%;
    float: right;
}

.content-panel {
    width: 70%;
    float: left;
}

.shadowed {
    filter: drop-shadow(0px 0px 8px rgba(17,17,17,127));
}

.footer {
    flex-shrink: 0;
    width: 100%;
    display: block;
    margin: 2em auto 0;
    padding-left: 2em;
    padding-right: 2em;
    background-color: #ECE3B5;
    border: 5px solid #ECE3B5;
    box-shadow: 0 0 0 2.5px #F6F1DA inset, 0 0 0 5.5px #AD9C86 inset, 0 0 10px #111;
    bottom: -10px;
}
.footer-container {}

iframe {
    display:block;
    width:100%;
}